/* You can add global styles to this file, and also import other style files */
.background-primary {
    background-color: #FFE4E1 !important;
}
.background-primary-400 {
    background-color: #f4e6e4 !important;
}
.border-radius-s {
 border-radius: 15px;
}

.footer-bg {
    background-color: #f0c6ae;
}

.footer-color {
    color: #0d0505;
}

.border-none {
    border: none !important;
}
